<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tennis.booking</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/morkeeth/.nvm/versions/node/v18.17.1/bin/node</string>
        <string>/Users/morkeeth/EVALUATOR/Booking/index.js</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/morkeeth/EVALUATOR/Booking</string>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/morkeeth/EVALUATOR/Booking/booking.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/morkeeth/EVALUATOR/Booking/booking.error.log</string>
    
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>

